.contact-container {
  text-align: center;
  margin-top: 20px;
}

.contact-container .home__social {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.contact-container .home__social-icon {
  margin: 0 10px;
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .contact-container .home__social {
    flex-wrap: wrap;
    margin-bottom: 80px;
  }

  .contact-container .home__social-icon {
    margin: 10px;
  }
}

.social-header {
  font-size: 32px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  letter-spacing: 0.4rem;
  animation: shadows 3.2s ease-in infinite, move 7.2s ease-in infinite;
}

@keyframes shadows {
  0%, 100% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary), 2px 2px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary), 2px 2px 0 var(--color-tertiary), 3px 3px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary), 2px 2px 0 var(--color-tertiary), 3px 3px var(--color-quaternary), 6px 6px 0 var(--color-quinary);
  }
}

@keyframes move {
  0%, 100% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-42px, -12px);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 1024px) {
  .social-header {
    font-size: 20px;
  }
}

@media screen and (max-width: 767px) {
  .social-header {
    font-size: 10px;
    animation: shadows 3.2s ease-in infinite; /* Override move animation for smaller devices */
  }
}


.contact-container .social-header span {
  display: inline-block;
  transition: transform 0.3s ease-in-out;
}
